In [1]:
import pandas as  pd

In [7]:
pokemon = pd.read_csv("pokemon.csv" , usecols=["Pokemon"] )
pokemon

        Pokemon
0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
..          ...
716     Yveltal
717     Zygarde
718     Diancie
719       Hoopa
720   Volcanion

[721 rows x 1 columns]