In [3]:
str="Naman"
for i in str:
    print(i )

N
a
m
a
n

In [5]:
l1=list([1,2,3,[8,9] ])
for i in l1:
    print(i)

1
2
3
[8, 9]

In [7]:
l1=list([1,2,3,8,9])
for i in l1:
    print(i ** 2)

1
4
9
64
81

In [8]:
l1=list("naman")
print(l1)
for i in l1:
    print(i)

['n', 'a', 'm', 'a', 'n']
n
a
m
a
n

In [20]:
d1=dict({ "first":"naman" , "second" : "goyal " , "third" : "student" })
for i in d1:
    print(i , end=" ")

print()    
for i in d1.keys():
    print(i, end=" ")
    
print()    
for i in d1.values():
    print(i, end=" ")

first second third
first second third
naman goyal  student

In [21]:
for i in open("something.txt", "r"):
    print(i)

hello world

this is python

i am learning

## Without using loop - iterators

In [22]:
l=list("naman")
print(l)

['n', 'a', 'm', 'a', 'n']

In [23]:
str="".join(l)
print(str)

naman

In [25]:
d=dict( { 1:"naman" , 2: "goyal" , 3:"student"})
print(sum(d))

6

In [38]:
def fun(d):
    return d.values()

d=dict( { "naman":1 ,  "goyal":2 , "student" : 3})
#not possible to access value

In [41]:
sum=0
for i in d.values():
    sum+=i
print(sum)

6