In [1]:
## function w/o argument

def my_first():
    print("hello world")

In [3]:
my_first()
print("function called")
my_first()

hello world
function called
hello world

In [5]:
##function W argument
def my_sec(name):
    print(name*3)

In [6]:
my_sec("naman")

namannamannaman

In [7]:
##function w multiple argument

def my_third(name, times):
    for i in range (times):
        print(name)

In [10]:
##parameter passing with a change
my_third("hello",4)
my_third(times=3,name="helloworld")

hello
hello
hello
hello
helloworld
helloworld
helloworld

In [29]:
## default value of parameter and explicit values

def my_fourth(name,times=4,i=2):
    for i in range(times+i):
        print(name, end=" ")
    print()

In [30]:
my_fourth("naman")
my_fourth("goyal",6)

naman naman naman naman naman naman
goyal goyal goyal goyal goyal goyal goyal goyal

In [45]:
## function with a return statement

def my_fifth(a,b):
    return (a+b)

In [48]:
y=my_fifth(2,4)
print(y)

6