# String input_split_convertToInteger

In [9]:
numbers=input()
number1=input().split()

10 23 244 19
1 2 4 5 7

In [11]:
print(numbers)
print(number1)
print(type(numbers) ,type(number1))

10 23 244 19
['1', '2', '4', '5', '7']
<class 'str'> <class 'list'>

In [12]:
number2=[inp for inp in input().split()]

12 11 10 9 8 7

In [13]:
print(number2)
print(type(number2))

['12', '11', '10', '9', '8', '7']
<class 'list'>

In [17]:
number3=[int(inp) for inp in input().split()]

10 12 14 16

In [19]:
print(number3)
print(type(number3))
print(type(number3[0]))

[10, 12, 14, 16]
<class 'list'>
<class 'int'>

## string to list char wise

In [2]:
lx=list("NAMAN")
print(lx)

['N', 'A', 'M', 'A', 'N']

## startswith in a str

In [1]:
l=list(["naman_color", "naman_game" ,"naman_btech", "color", " btech" ])
print(l)

for i in l :
    if i.startswith("naman"):
        print(i)

['naman_color', 'naman_game', 'naman_btech', 'color', ' btech']
naman_color
naman_game
naman_btech