# Strings to list - Wordwise & Linewise

In [16]:
para =  """this is my para string
i am coding in python
still learning"""
print(para)

this is my para string
i am coding in python
still learning

In [17]:
words=para.split()
print(words)
print(words[2])

['this', 'is', 'my', 'para', 'string', 'i', 'am', 'coding', 'in', 'python', 'still', 'learning']
my

In [18]:
print(type(para))
print(type(words))
print(type(words[0]))

<class 'str'>
<class 'list'>
<class 'str'>

In [19]:
line=para.splitlines()
print(line)
print(type(line))
print(type(line[1]))

['this is my para string', 'i am coding in python', 'still learning']
<class 'list'>
<class 'str'>

# String to uppercase and lowercase

In [42]:
name="naman"
print(name.upper())
print(name)
name=name.upper()
print(name)
print(name.lower())

NAMAN
naman
NAMAN
naman

## String strip whitespaces

In [40]:
str1="   hello   "
str2=str1
print(len(str1) , str1 , sep="\n")
str1=str1.lstrip()
print(str1,len(str1) , sep="\n")
str1=str1.rstrip()
print(str1,len(str1) , sep="\n")

11
   hello
hello
8
hello
5

In [41]:
print(str2)
print(len(str2))
str2=str2.strip()
print(len(str2))
print(str1)

   hello
11
5
hello

### to check if string contains only whitespace

In [65]:
m1="abc1243"
m2="    "
print(m1.isspace())
print(m2.isspace())

False
True

###  check if the string is only upper case or only lower case

In [60]:
pa="NAMAN"
pb="goyal"
pc="NamAN"

In [61]:
print(pa.isupper() , pa.lower())
print(pb.isupper() , pb.islower())

True naman
False True

In [62]:
print(pc.isupper() , pc.islower())

False False

# if string contains only digits or characters(alpha)

In [53]:
a="9.23112"
print(a.isdigit())
b="99283"
print(b.isdigit())

False
True

In [54]:
c=" H. NO IS 928"
print(c.isalpha())
c=" H. NO IS two"
print(c.isalpha())
c=" H NO IS two"
print(c.isalpha())
#no spaces and no special char like . , : etc
c="HNOIStwo"
print(c.isalpha())

False
False
False
True

In [55]:
#alpha numeric : only alphabets and no
d="123abc@"
print(d.isalnum())
d="123abc."
print(d.isalnum())
d="123abc"
print(d.isalnum())

False
False
True