# Tuples
- immutable
- faster than lists
- can return multiple objects

- multiplicity
- count
- len
- max min
- index
- concat

In [23]:
l=[1,2,3,4]
t1=(22,231,42,2)
t2=tuple((1,2,5,3,4,32,5))

In [24]:
def testing():
    "hello world"
    return (1,"Hello",False)

t=testing()
print(t , type(t))

(1, 'Hello', False) <class 'tuple'>

In [25]:
print(t*2)

(1, 'Hello', False, 1, 'Hello', False)

In [27]:
print(t.count(2))
print(len(t))

0
3

In [28]:
print(max(t1),min(t1))

231 2

In [30]:
print(t1.index(231))

1

In [32]:
t3=t2+t1
print(t3)

(1, 2, 5, 3, 4, 32, 5, 22, 231, 42, 2)