In [1]:
import pandas as pd

In [9]:
google=pd.read_csv("google.csv" , squeeze=True)
google
pokemon=pd.read_csv("pokemon.csv" , index_col="Pokemon" ,squeeze=True)
pokemon

Pokemon
Bulbasaur       Grass
Ivysaur         Grass
Venusaur        Grass
Charmander       Fire
Charmeleon       Fire
               ...
Yveltal          Dark
Zygarde        Dragon
Diancie          Rock
Hoopa         Psychic
Volcanion        Fire
Name: Type, Length: 721, dtype: object

In [10]:
google.value_counts()

291.21    5
288.47    3
194.80    3
307.94    3
243.26    3
         ..
294.94    1
548.34    1
261.09    1
348.91    1
92.50     1
Name: Stock Price, Length: 2886, dtype: int64

In [12]:
pokemon.value_counts()

Water       105
Normal       93
Grass        66
Bug          63
Fire         47
Psychic      47
Rock         41
Electric     36
Ground       30
Poison       28
Dark         28
Fighting     25
Dragon       24
Ice          23
Ghost        23
Steel        22
Fairy        17
Flying        3
Name: Type, dtype: int64

In [17]:
pp=pokemon.value_counts(sort=True)
pp

Water       105
Normal       93
Grass        66
Bug          63
Fire         47
Psychic      47
Rock         41
Electric     36
Ground       30
Poison       28
Dark         28
Fighting     25
Dragon       24
Ice          23
Ghost        23
Steel        22
Fairy        17
Flying        3
Name: Type, dtype: int64

In [18]:
pp=pokemon.value_counts( ascending= True)
pp

Flying        3
Fairy        17
Steel        22
Ghost        23
Ice          23
Dragon       24
Fighting     25
Dark         28
Poison       28
Ground       30
Electric     36
Rock         41
Psychic      47
Fire         47
Bug          63
Grass        66
Normal       93
Water       105
Name: Type, dtype: int64