In [51]:
s1=set([1,2,2,3,1,5,6,3,6,2,2,2,5,2,15,21])
print(s1)

{1, 2, 3, 5, 6, 15, 21}

In [52]:
t1=tuple((1,2,3))

In [53]:
print(t1.count(9))
print(t1.index(2))

0
1

In [54]:
s2=set([10,2,31,431,12,3])

In [55]:

print()

In [61]:
s1=s1.intersection(s2)
print(s1)

{2, 3, 10, 12, 431, 31}

In [62]:
l1=list([1,2,4.9,"hello"])
l2=l1*3
print(l2)

[1, 2, 4.9, 'hello', 1, 2, 4.9, 'hello', 1, 2, 4.9, 'hello']

In [63]:
if 3 not in l1:
    print("hello")

hello

In [64]:
l1.append(2)
print(l1)

[1, 2, 4.9, 'hello', 2]

In [65]:
l3=[10,20,30]
l1.append(l3)
print(l1)
l1.extend(l3)
print(l1)

[1, 2, 4.9, 'hello', 2, [10, 20, 30]]
[1, 2, 4.9, 'hello', 2, [10, 20, 30], 10, 20, 30]

In [66]:
l1.insert(2,69)
print(l1)

[1, 2, 69, 4.9, 'hello', 2, [10, 20, 30], 10, 20, 30]

In [68]:
l1.insert(-1,60)
print(l1)

[1, 2, 69, 4.9, 'hello', 2, [10, 20, 30], 10, 20, 60, 60, 30]

In [72]:
l1.extend([2])

In [73]:
print(l1)

[1, 2, 69, 4.9, 'hello', 2, [10, 20, 30], 10, 20, 60, 60, 30, 2]

In [74]:
l1.append(2)

In [75]:
print(l1)

[1, 2, 69, 4.9, 'hello', 2, [10, 20, 30], 10, 20, 60, 60, 30, 2, 2]

In [77]:
l1.remove(2)
print(l1)

[1, 69, 4.9, 'hello', 2, [10, 20, 30], 10, 20, 60, 60, 30, 2, 2]

In [78]:
while ( 2 in l1):
    l1.remove(2)
    print(l1)

[1, 69, 4.9, 'hello', [10, 20, 30], 10, 20, 60, 60, 30, 2, 2]
[1, 69, 4.9, 'hello', [10, 20, 30], 10, 20, 60, 60, 30, 2]
[1, 69, 4.9, 'hello', [10, 20, 30], 10, 20, 60, 60, 30]

In [79]:
l1.remove("hello")

In [82]:
del l1[2]
print(l1)

[1, 69, [10, 20, 30], 10, 20, 60, 60, 30]

In [83]:
print(len(l1))
l1.count(60)

8

2

In [84]:
del l1[2]
print(l1)

[1, 69, 10, 20, 60, 60, 30]

In [86]:
print(l1.index(60))
l1.sort(reverse = True)
print(l1)

4
[69, 60, 60, 30, 20, 10, 1]

In [87]:
d=dict({"mango": 20 , "apple": 30 })
print(type(d),d)

<class 'dict'> {'mango': 20, 'apple': 30}

In [88]:
d["guava"]=100
print(d,len(d))

{'mango': 20, 'apple': 30, 'guava': 100} 3

In [89]:
d["str"]="morning"
d["listing"]=list([3,1,5,2,7])
d["map"]=dict({"petrol":70, "diesel":80})
d["tuple"]=tuple((3,1,2,9,7 ))
d["set"]=set({2,3,5,1,1,3,5,2,3,5,6,234})

In [90]:
print(d)

{'mango': 20, 'apple': 30, 'guava': 100, 'str': 'morning', 'listing': [3, 1, 5, 2, 7], 'map': {'petrol': 70, 'diesel': 80}, 'tuple': (3, 1, 2, 9, 7), 'set': {1, 2, 3, 5, 6, 234}}

In [91]:
del d["mango"]

In [92]:
print(d)

{'apple': 30, 'guava': 100, 'str': 'morning', 'listing': [3, 1, 5, 2, 7], 'map': {'petrol': 70, 'diesel': 80}, 'tuple': (3, 1, 2, 9, 7), 'set': {1, 2, 3, 5, 6, 234}}

In [101]:
print(d.get("listing"))
print(d.get("list"))
print(d.keys())
print(d.values())
l10=list(d.items())

[3, 1, 5, 2, 7]
None
dict_keys(['apple', 'guava', 'str', 'listing', 'map', 'tuple', 'set'])
dict_values([30, 100, 'morning', [3, 1, 5, 2, 7], {'petrol': 70, 'diesel': 80}, (3, 1, 2, 9, 7), {1, 2, 3, 5, 6, 234}])

In [102]:
for i in l10:
    print(i, end="\n")

('apple', 30)
('guava', 100)
('str', 'morning')
('listing', [3, 1, 5, 2, 7])
('map', {'petrol': 70, 'diesel': 80})
('tuple', (3, 1, 2, 9, 7))
('set', {1, 2, 3, 5, 6, 234})

In [104]:
print((l10[3]))
print(type(l10[3]))
print((l10[3][0]))
print((l10[3][1]))
print(type(l10[3][1]))
print(type(l10[3][0]))

('listing', [3, 1, 5, 2, 7])
<class 'tuple'>
listing
[3, 1, 5, 2, 7]
<class 'list'>
<class 'str'>

In [105]:
d1=dict({ "car":3 , "bike": 2 , "cycle":1})
d1.update(d)
print(d1)

{'car': 3, 'bike': 2, 'cycle': 1, 'apple': 30, 'guava': 100, 'str': 'morning', 'listing': [3, 1, 5, 2, 7], 'map': {'petrol': 70, 'diesel': 80}, 'tuple': (3, 1, 2, 9, 7), 'set': {1, 2, 3, 5, 6, 234}}

In [106]:
d1.clear()
print(d1)

{}

In [107]:
type(d1)

dict

In [108]:
lx=list([" one", "two", "three"])
ly=list([1,2,3])
dxy=dict(zip(lx,ly))
dyx=dict(zip(ly,lx))
print(dxy)
print(dyx)

{' one': 1, 'two': 2, 'three': 3}
{1: ' one', 2: 'two', 3: 'three'}

In [109]:
t=tuple((1,2.5, "str"))

In [110]:
print(t,type(t))

(1, 2.5, 'str') <class 'tuple'>

In [111]:
print(t.count(1))

1

In [115]:
print(t.index(2.5))

1

In [117]:
t1=tuple((4,2,1,5,2))

In [119]:
t=t1+t

In [120]:
print(t)

(4, 2, 1, 5, 2, 1, 2.5, 'str')

In [122]:
t1=t1*3
print(t1)

(4, 2, 1, 5, 2, 4, 2, 1, 5, 2, 4, 2, 1, 5, 2)

In [131]:
s1=set({ 1,2,4,1,32,5,1,34,51,2,112})
s2=set({ 2,4,1,2,5,6,7,3,245,1,2,1})
s3=set({ 22,3,1,4,132,5,12,41,5})
s4=set({ 66,1,2,4,1,2,4,51,6,2,34})
s5=set({ 13,12,51,234,12,3,412})
s6=set({ 1,2,41,2,3,41,2,312,34,1})
s7=set({ 1,4,2,5,2,56,7,8,4,2})

In [132]:
s1=(s1.union({69}))
print(s1)

{32, 1, 2, 34, 4, 5, 69, 112, 51}

In [133]:
print(s2)

{1, 2, 3, 4, 5, 6, 7, 245}

In [138]:
s1=s1.union(s2)

In [139]:
print(s1)

{32, 1, 2, 34, 4, 5, 69, 3, 6, 7, 112, 51, 245}

In [140]:
s3=s3.intersection(s4)

In [141]:
print(s4)

{1, 66, 2, 4, 34, 6, 51}

In [144]:
print(s4.difference(s5))

{1, 66, 2, 4, 34, 6}