In [16]:
s1=set([11,2,4,1,2,2,4,6,11,2,9,4,22,1])
print(s1)
s2=set([ 1, 31,41,11, 2, 4,99])
print(s2)
s3=set([ 1,14,19,23,17,222,2345,14])

{1, 2, 4, 6, 9, 11, 22}
{1, 2, 99, 4, 41, 11, 31}

- add = +, .add() , .union()
- intersection = & , .intersection
- deletion = -, .difference()

In [17]:
##s3= s1+s2
s1.add(299)
print(s1)

{1, 2, 4, 6, 9, 11, 299, 22}

In [30]:
s1=s1.union(s2)
print(s1 ,len(s1))
s1=s1 | s3
print(s1,len(s1))

{1, 2, 4, 6, 9, 11, 14, 17, 19, 22, 23, 222, 31, 99, 2345, 41, 299} 17
{1, 2, 4, 6, 9, 11, 14, 17, 19, 22, 23, 222, 31, 99, 2345, 41, 299} 17

In [21]:
s3=set([11,2,4,1,2,2,4,6,11,2,9,4,22,1])

s4=set([ 1, 31,41,11, 2, 4,99])

print(s3 & s4)

{1, 2, 11, 4}

In [22]:
print( s3.intersection (s4))

{1, 2, 11, 4}

In [29]:
print(s3-s4)
s5=s3.difference(s4)
print(s5)

{9, 6, 22}
{9, 6, 22}