#  Two possible ways

- google.columnName              
Problem =  cant use column name which has a space in btw 


- google[" " , " " , " " ]
Added advantage = no problem of spacing as well as can acces multiple columns

## Both the ways returns a Series in python

### NOTE : We could have opted for usecols which would have been correct however
### we are discussing about extraction from a given dataframe

In [1]:
import pandas as pd

In [2]:
nba= pd.read_csv("nba.csv")
nba

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25.0,06-Feb,180,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99,SF,NaN,06-Jun,235,Marquette,6796117.0
2,John Holland,Boston Celtics,30,SG,27.0,06-May,205,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28,SG,22.0,06-May,185,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8,PF,29.0,06-Oct,231,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
452,Trey Lyles,Utah Jazz,41,PF,20.0,06-Oct,234,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8,PG,26.0,06-Mar,203,Butler,2433333.0
454,Raul Neto,Utah Jazz,25,PG,24.0,06-Jan,179,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21,C,26.0,07-Mar,256,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24,C,26.0,7-0,231,Kansas,947276.0

In [4]:
nba.Name.head()

0    Avery Bradley
1      Jae Crowder
2     John Holland
3      R.J. Hunter
4    Jonas Jerebko
Name: Name, dtype: object

In [5]:
nba.Team

0      Boston Celtics
1      Boston Celtics
2      Boston Celtics
3      Boston Celtics
4      Boston Celtics
            ...
452         Utah Jazz
453         Utah Jazz
454         Utah Jazz
455         Utah Jazz
456         Utah Jazz
Name: Team, Length: 457, dtype: object

In [6]:
nba["Name"].head()

0    Avery Bradley
1      Jae Crowder
2     John Holland
3      R.J. Hunter
4    Jonas Jerebko
Name: Name, dtype: object

In [7]:
nba["Team"]

0      Boston Celtics
1      Boston Celtics
2      Boston Celtics
3      Boston Celtics
4      Boston Celtics
            ...
452         Utah Jazz
453         Utah Jazz
454         Utah Jazz
455         Utah Jazz
456         Utah Jazz
Name: Team, Length: 457, dtype: object