In [1]:
import pandas as pd

In [6]:
google=pd.read_csv("google.csv" ,squeeze=True)
google

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [12]:
print(google.is_unique)
print(google.ndim)
print(google.shape)
print(google.size)
print(google.name)

False
1
(3012,)
3012
Stock Price

In [16]:
rev=pd.read_csv("revenue.csv" , index_col="Date")
rev

         New York  Los Angeles  Miami
Date
1/1/16        985          122    499
1/2/16        738          788    534
1/3/16         14           20    933
1/4/16        730          904    885
1/5/16        114           71    253
1/6/16        936          502    497
1/7/16        123          996    115
1/8/16        935          492    886
1/9/16        846          954    823
1/10/16        54          285    216

In [18]:
print(rev.sum(axis=1))

Date
1/1/16     1606
1/2/16     2060
1/3/16      967
1/4/16     2519
1/5/16      438
1/6/16     1935
1/7/16     1234
1/8/16     2313
1/9/16     2623
1/10/16     555
dtype: int64

In [19]:
print(rev.sum(axis=0))

New York       5475
Los Angeles    5134
Miami          5641
dtype: int64