In [3]:
##  pyhton shell
## ipython()

In [5]:
print("hello world")

hello world

In [16]:
a=2
b=a
b=3
print(a)

2

In [21]:
n=int(input())

9

In [22]:
for i in range (1,n+1):
    for j in range (1,i+1):
        print(j , end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9

In [25]:
for i in range(0,n):
    for j in range(0,n-i-1):
        print("-",end="")
    for j in range(0,i+1):
        print(j,end="")
    print()

--------0
-------01
------012
-----0123
----01234
---012345
--0123456
-01234567
012345678

In [36]:
n=int(input())

for i in range(1,n+1):
    for j in range(1,i+1):
        print("*",end="")
    print()
for i in range(1,n):
    print("*"*(n-i))

5
*
**
***
****
*****
****
***
**
*

In [2]:
n=int(input())
for i in range(1,n+1):
    print("  "*(i-1),end="")
    print("*"*(n-i+1))
for i in range(1,n):
    print("  "*(n-i-1),end="")
    print("*"*(i+1))

5
*****
  ****
    ***
      **
        *
      **
    ***
  ****
*****

In [58]:
def fact(n):
    if (i==n):
        print(n)
        return
    n=n*fact(n-1)
    return n

def fact(n):
    if (i==n):
        print(ans)
        return
    ans=ans*i
    fact(n,i+1,ans)

In [59]:
fact(5)

UnboundLocalError: local variable 'ans' referenced before assignment

# Data types

In [61]:
a=[]
print(a,type(a),type(type(a)))

[] <class 'list'> <class 'type'>

In [63]:
a=[10,20,30,40,50]
for i in a:
    print(i)

10
20
30
40
50

In [64]:
a=[21,321,41,234,12]
b=[21,321,41,234,12]
a.sort()

In [65]:
print(a)

[12, 21, 41, 234, 321]

In [68]:
b=sorted(b)
print(b)

[12, 21, 41, 234, 321]

In [69]:
a=[2,3,1,[2,3,1,4],32,8]

[2, 3, 1, [2, 3, 1, 4], 32, 8]

In [70]:
print(a)

[2, 3, 1, [2, 3, 1, 4], 32, 8]

In [71]:
a.append(82)

In [72]:
print(a)

[2, 3, 1, [2, 3, 1, 4], 32, 8, 82]

In [80]:
a=[1,34,1,41,24,(100,200,413)]
print(a)

[1, 34, 1, 41, 24, (100, 200, 413)]

In [82]:
a[-1:-4:-1]

[(100, 200, 413), 24, 41]

In [83]:
a=[2,3,1,32,8]
a.sort()

In [85]:
sorted(a)

[1, 2, 3, 8, 32]

In [88]:
sorted(a,reverse=True)

[32, 8, 3, 2, 1]

In [90]:

x=dict({})

In [93]:
x["name"]="naman"

In [107]:
x["age"]=22
x["class"]="ml"
x[22]="hello"
p

In [110]:
for i in x:
    print("{} is the key and the value is {} : {} " .format(i,x[i] ,type(i)) )

name is the key and the value is naman : <class 'str'>
age is the key and the value is 22 : <class 'str'>
class is the key and the value is ml : <class 'str'>
22 is the key and the value is hello : <class 'int'>

In [116]:
t=tuple((1,3,2,5,9))

In [117]:
print(t)

(1, 3, 2, 5, 9)

In [118]:
print(type(t))

<class 'tuple'>

because tuple is immutable hence t.sort dooesnt work but sorted will workm

In [124]:
a,b,c,d,e=t
a=20
print(a,b,c,d,e)
print(t)

20 3 2 5 9
(1, 3, 2, 5, 9)

In [121]:
a=20

In [122]:
print(t)

(1, 3, 2, 5, 9)

In [126]:
x=[1,2,3,4]
y=[5,6,7,8]
l=list()
for x,y in zip(x,y):
    print(x,y,sep=" ")
    l.append([x,y])
print(l)

1 5
2 6
3 7
4 8
[[1, 5], [2, 6], [3, 7], [4, 8]]

In [127]:
s=set({1,2,42,5,3,1,31,3,4,12})
print(s)

{1, 2, 3, 4, 5, 42, 12, 31}

In [129]:
s1={2,42}
s1

{2, 42}

In [131]:
if s1  in s:
    print("yes")

In [132]:
import math

In [133]:
print(math.factorial(5))

120

In [134]:
from math import factorial
print(factorial(6))

720

In [135]:
from math import factorial as f
print(f(10))

3628800

In [136]:
#string dictionary tuples sets list

In [141]:
l=list([1,3,2,5,2,10,8,6])
d={"name":"Naman","class":"codingblocks_ml"}
t=tuple((1,3,2,5,6,3))
s=set({2,1,3,41,24,1,2})