In [1]:
import numpy as np
import pandas as pd

In [2]:
pokemon=pd.read_csv("pokemon.csv",squeeze=True,usecols=["Name"])
google=pd.read_csv("google_stock_price.csv",squeeze=True,usecols=["Stock Price"])

In [5]:
pokemon1=pokemon.head(n=10)
pokemon1

0                    Bulbasaur
1                      Ivysaur
2                     Venusaur
3        VenusaurMega Venusaur
4                   Charmander
5                   Charmeleon
6                    Charizard
7    CharizardMega Charizard X
8    CharizardMega Charizard Y
9                     Squirtle
Name: Name, dtype: object

In [8]:
pokemon2=pokemon1.sort_values(ascending=False)
pokemon2

3        VenusaurMega Venusaur
2                     Venusaur
9                     Squirtle
1                      Ivysaur
5                   Charmeleon
4                   Charmander
8    CharizardMega Charizard Y
7    CharizardMega Charizard X
6                    Charizard
0                    Bulbasaur
Name: Name, dtype: object

In [11]:
## google=google.sort_values(ascending=True)

google.sort_values(ascending=False , inplace= True)
google.head(n=4)

3011    782.22
2859    776.60
3009    773.18
3007    772.88
Name: Stock Price, dtype: float64

In [13]:
google.head(4)

3011    782.22
2859    776.60
3009    773.18
3007    772.88
Name: Stock Price, dtype: float64

In [15]:
google.sort_index(ascending=True , inplace=True)
google.head()

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64